*{
    margin: 0;
    padding: 0;
}

body{
    width: 800px;
}

.horizontalcontainer{
    display: flex;
}

header{
    margin-top: 10px;
    margin-left: 50px;
    background-color: gray;
    height: 60px;
    width: 620px;
}

footer{
    margin-left: 50px;
    background-color: gray;
    height: 60px;
    width: 620px;
    margin-top: 10px;
}


.sidebar1{
    margin-top: 10px;
    margin-left: 50px;
    background-color: gray;
    height: 240px;
    width: 100px;
}
.sidebar2{
    margin-top: 10px;
    background-color: gray;
    height: 240px;
    width: 100px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: gray;
    height: 240px;
    width: 400px;
}