.gate {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    perspective: 800px;
}

.gate:hover .left-gate {
    transform: rotateY(45deg);
}

.gate:hover .right-gate {
    transform: rotateY(-45deg);
}

.gate .gate-side {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #eaeaea;
    transition: transform 0.5s;
    transform-origin: left;
}

.gate .left-gate {
    z-index: 4;
    left: 0;
}

.gate .right-gate {
    z-index: 4;
    right: 0;
    transform-origin: right;
}

.text-container {
    width: 400px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.text {
    width: 100px;
    margin-top: 200px;
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}